.tab {
    overflow: hidden;
}

.tab li {
    background: #ccc;
    padding: 5px 10px;
    float: left;
    margin-right: 1px;
}

.tab li.select {
    background: #eee;
}

.content li {
    background: #eee;
    padding: 0px;
}

.hide {
    display: none;
}